.lay-all {
    width: 100%;
    min-width: 6.40rem;
    height: 100%;
    min-height: 9.60rem;
    margin: 0 auto;
    background: #f3f5f9;
    position: absolute;

}

.lay-top {
    height: 40%;
    background: #fff;
    z-index: 0;
}

.lay-rest {
    height: 60%;
    background: #fff;
    text-align: center;
}

.item {
    width: 100%;
    height: 100%;
}

.item > ul {
    width: 100%;
    height: 100%;
}

.item > ul > li {
    width: 33.3333%;
    float: left;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item > ul > li > a {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}

.item > ul > li > a > img {
    width: 33%;
    max-width: 1.86rem;
    min-width: 0.64rem;
    height: 33%;
    max-height: 1.86rem;
    min-height: 0.64rem;
    display: block;
    margin: 0 auto;
}

/*字体跟随屏幕尺寸变化*/
.item > ul > li > a > p {
    text-align: center;
    color: #929292;
}

/*1280分辨率以上（大于1200px）*/
@media screen and (min-width:1200px){
    p {
        font-size: 0.52rem;
    }
}

/*1100分辨率（大于960px，小于1199px）*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
    p {
        font-size: 0.48rem;
    }
}

/*880分辨率（大于768px，小于959px）*/
@media screen and (min-width: 768px) and (max-width: 959px) {
    p {
        font-size: 0.40rem;
    }
}

/*720分辨率（大于480px，小于767px）*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
    p {
        font-size: 0.32rem;
    }
}

/*480分辨率以下（小于479px）*/
@media only screen and (max-width: 479px) {
    p {
        font-size: 0.24rem;
    }
}

/*单图样式(不带拖拽,与unlisder中带拖拽样式保持一致)*/
div.lay-top .img-banner {
    position: relative;
    top: 0;
    bottom: 0.03rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

div.lay-top .img-decoration {
    position: absolute;
    margin-bottom: -0.02rem;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 60%;
    z-index: 1;
}
